.title-about {
  padding-top: 2rem;
  text-align: center;
}
.title-home {
  padding-top: 0.3rem;
  text-align: center;
  font-family: "Pacifico", cursive;
}
.subtitle {
  text-align: center;
  color: green;
  font-weight: bold;
}
.para-home {
  padding: 1rem 5rem !important;
}
.para {
  text-align: center;
  padding: 1.3rem 10rem;
  color: green;
  line-height: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}
.container-home {
  margin: 0.82rem 10rem !important;
}
.container {
  margin: 1.7rem 10rem;
  background-color: rgb(234, 236, 229);
}

@media screen and (max-width: 1080px) {
  .para {
    padding: 1rem 5rem;
  }
  .container {
    margin: 1.5rem 1rem;
  }
  .App-logo {
    height: 40vmin;
    margin-left: 37% !important;
    pointer-events: none;
  }
}

@media screen and (max-width: 880px) {
  .App-logo {
    height: 30vmin;
    margin-left: 30% !important;
  }
}

.App-logo {
  margin-top: 2rem;
  height: 47vmin;
  margin-left: 37%;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
