* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$myBlack: #222;
$myGrey: #ececec;
$myGreen: #82b340;
$myTransition: all 0.3s linear;
body {
  // font-family: "Open Sans", sans-serif;
  // font-family: "Bree Serif", serif;
  font-family: "Work Sans", sans-serif;
  color: $myBlack;
  background: white;
  //font-family: 'Pacifico', cursive;
  //font-family: 'Open Sans', sans-serif;
}
